
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');






*{
    margin: 0;
    padding: 0;
}

:root{
    --a:0
}

.square_container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  .square_container::-webkit-scrollbar-thumb {
    background-color: #555; /* Thumb color */
    border-radius: 6px; /* Rounded edges */
    border: 3px solid #181818; /* Padding effect around the thumb */
  }
  
  .square_container::-webkit-scrollbar-track {
    background-color: #1f1f1f; /* Track color */
    border-radius: 6px;
  }

  .songList ul::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  .songList ul::-webkit-scrollbar-thumb {
    background-color: #555; /* Thumb color */
    border-radius: 6px; /* Rounded edges */
    border: 3px solid #181818; /* Padding effect around the thumb */
  }
  
  .songList ul::-webkit-scrollbar-track {
    background-color: #1f1f1f; /* Track color */
    border-radius: 6px;
  }
  



body{
    background-color: black;
   
    


}

.container{
    display:flex;
    /* justify-content: center;
    align-items:center; */
   gap:15px;
   position:relative;
   background-color: black;
}

.left{
    width:25vw;
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0; /* Ensure it stays on the left
    /* width: 200px; Set a fixed width */
    height: 100vh; /*Full viewport height*/
    /* overflow-y: auto; Allow scrolling if content overflows */
    
    z-index: 1;  
   
    
}

.hamburger{
    filter:invert(1);
    width:40px;
}
.footer{
    position:absolute;
    bottom:0;
}
/* .upper{
    background-color: #121212;
  
    
    
} */


.right{
    width:75vw;
   background-color:black;
   position:relative;
   margin-left:27vw;
}
.geetbox{
    color:whitesmoke;
    font-size: 30px;
    color:#1db954;
    margin-left:6px;
    margin-top:0px;
    
  

}



.logo{
   
    margin-top:0px;

    margin-left: 10px;
    
    width:40px;

    
    
}
.home{
    width:2vw;
    margin-top:10px;
    filter:invert(1);
    
}

.search{
    width:20px;
    margin-top:2px;
    margin-left:10px;
    /* filter:invert(1); */
    
}

.div_home{
    display:flex;
    
    align-items: center;
    gap:15px;
    margin-left:10px;
}

.div_home h6 {
    font-size:25px;
    margin-top:11px;
    color:white;
}

.div_search{
    display:flex;
    gap:20px;
    align-items: center;
    height:5vh;
   
    width: 258px;
    margin-top: 16px;
    margin-left: 8px;

  
   border:1px solid whitesmoke;
   border-radius:10px;
    
    background-color:white;
}

.search_input{
    background-color:white;
    outline-offset:1px;
    outline-color: white;
    border:2px solid white;
    
}



/* .lower{
    background-color:#121212;
    height:75vh;

} */

.your_library{
    display:flex;
    
}

.library_image{
   width:2vw;
   margin:20px 10px;
   
   
}

/* .footer{
    margin-top:50vh;
} */
.your_library h6{
    margin:26px 7px;
    font-size:30px;
    color:white;
}

.first_footer{
    color:grey;
    font-size:13px;
    margin-left: 10px;

  
    
}

.first_footer span:first-child{
    margin-left: 5px;
}

.first_footer span{
    margin-right:5px;
    font-weight:100;
}

.second_footer{
    margin-top:5px;
    margin-left:11px;
    font-size: 13px;
    
}

.second_footer span{
    margin-right:20px;
    color:grey
}

.cookies{
    margin-left:11px;
    color:white;
    font-size:13px;
    margin-top:5px;
}

.header{
    
    margin-top:1vh;
    height:7vh;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: space-between;

}





 
.header_lower{
    margin-top:3vh;
    
    background-color: #121212;
    color:white;
    position:relative;
    
    
    
    

}

.square_container{
    height:61vh;
    overflow-y : scroll;
    margin-right:12px;
    
}

.header_lower h1 {
    padding:20px;
    font-family: "Pacifico", serif;
    font-weight: 900;
    font-style: normal;
    
    
}


.card_song{
    width:15vw;
    margin: 30px 30px;
    /* border:1px solid white; */
    background-color: #252525;
    position:relative;
    padding:10px;
    border-radius:10px;
    cursor:pointer;

}

.card_song:hover{
    background-color: #181818;
    transition:all 0.8s;
    box-shadow: 2px 3px 2px 3px aliceblue;
    
    --a:1;
}

.card_song > * {
    margin-top:10px;
    
}

.card_song h2{

    font-size:18px;
    font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;

}

.card_song p {
    font-size:11px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.card_song  img:nth-child(2){

    width:15vw;
    object-fit: contain;
}
    


    .square_container{

        display:flex;
        flex-wrap: wrap;
        justify-content: safe;
        align-items:center;
        gap:10px;



    }
    
    .green{
        height:40px;
        position:absolute;
        top:180px;
        right:10px;
        opacity:var(--a);
        transition :  0.5s ease;


    }
   

    .signup_btn{
        background-color: black;
        border:1px solid black;
        color:grey;
        border-radius:5px;
        padding:8px;
        font-size: 13px;

       
    }
    
    .signup_btn:hover {
          
          background-color: white;
          color:black;
          cursor:pointer;
          font-size:16px;
          font-weight:600;
          width:80px;
          border-radius:20px;
          padding:5px;
    }

    .login_btn{
        border-radius:20px;
        padding:5px;
        font-size: 13px;
        font-weight: 400;
        width:60px;
        border:1px solid white;
    }

    .login_btn:hover{
 
        cursor:pointer;
        font-size:16px;
        font-weight:600;
        width:80px;
    }

    .playbar {
        position:absolute;
        top:530px;
        margin-bottom:20px; ;
         color:white;
        font-size:20px;
        width:68vw;
        border-radius:10px;
        
        background-color:#252525;
        padding:8px;
        margin-bottom:13px;
        margin-left: 20px;
    }

    .songbtn{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:20px;
       
    }

    .new_svg{
        width:35px
    }


 

   .songList  ul{
    color:white;
    margin-left:30px;
    overflow-y: scroll;
    height:50vh;
    
   }

   .songList ul li{
    list-style-type:none;
    padding:10px;
    border:1px solid white;
    margin:10px 6px;
    cursor:pointer;
    
    

    border-radius:5px;
    position:relative;

    
    

    
    
   }

 .play_it{
    display:flex;
    align-items:center;
    position:absolute;
    left:170px;
    gap:5px;

    
 }

 .playsong_box{
    display: flex;
    align-items: center;
    gap:10px;
 }

 .songbox_cont{
    display:flex;
   
    gap:20px;
 }

 .play_it span{
    color:lightgreen;
    font-weight: 700;
    font-size: 14px;
 }

 .play_it img{
    margin-top:2px;
 }

 .song_info div:first-child {
    
    
    top:7px;
    overflow-y: hidden;
    width:9vw;
    height:2.5vh;
    
    position:absolute;
    color:white;
    padding:2px;

 }

 .song_info div:nth-child(2){
    position:absolute;
    top:30px;
    font-size: 12px;
    
 }

 .seekbar{
    width:100%;
    border:2px solid white;
    border-radius:7px;
    margin-top:4px;
    background-color:white;
    cursor:pointer;
   
    
   

 }



 .circle{
    height:10px;
    width:10px;
    border:1px solid white;
    border-radius: 20px;
    background-color: white;
    position:absolute;
    left:8px;
    top:44px;
    transition: left 0.5s ease;
 }


 
 .songbtn img{
    cursor:pointer;


    
 }

 .grouping{
    display:flex;
    gap:30px;
    align-items:center;
    margin-left:30px;
 }

 .playbar_infor{
    color:whitesmoke;
    width:20vw;
    height:4vh;
    overflow-y: hidden;
    
 }

 .songtime{
    color:whitesmoke;
    margin-left:50px;
    
 }

 .app{
    display:flex;
    align-items: center;
    gap:25px;
 }


@media (max-width: 1200px){

   :root{

    --a:0;
    --b:350px;
   }


   .songList ul::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }
  
  .songList ul::-webkit-scrollbar-thumb {
    background-color: #555; /* Thumb color */
    border-radius: 6px; /* Rounded edges */
    border: 1px solid #181818; /* Padding effect around the thumb */
  }
  
  .songList ul::-webkit-scrollbar-track {
    background-color: #1f1f1f; /* Track color */
    border-radius: 6px;
  }

    .square_container::-webkit-scrollbar {
        width: 2px; /* Width of the scrollbar */
        margin-right:0px;
      }
      
      .square_container::-webkit-scrollbar-thumb {
        background-color: #555; /* Thumb color */
        border-radius: 6px; /* Rounded edges */
        border: 1px solid #181818; /* Padding effect around the thumb */
      }
      
      .square_container::-webkit-scrollbar-track {
        background-color: #1f1f1f; /* Track color */
        border-radius: 6px;
      }


  
    .left{
        /* position:absolute; */
        /* z-index:1; */
        left:-100%;
        transition:all 0.2 ease;
        width:70vw;
        background-color:black;

    }

    .right{
         position:fixed;
        width:100vw;
        height:100vh;
        background-color:black;
        
        
        margin-right:0px;
        
        margin-left:0px;
        margin-top:0px;


    }

    .right .header{
        margin-left:10px;
        margin-top:20px;
        padding:0px;
        height:30px;
        display:flex;
        align-items:center ;
        justify-content: space-between;
        
        
    }

    .hamburger{
        filter:invert(1);
        
    }

    

    
    .signup_btn{
        background-color: black;
        border:1px solid black;
        color:grey;
        border-radius:5px;
        padding:8px;
        font-size: 13px;

       
    }
    
    .signup_btn:hover {
          
          background-color: white;
          color:black;
          cursor:pointer;
          font-size:16px;
          font-weight:600;
          width:80px;
          border-radius:20px;
          padding:5px;
    }

    .login_btn{
        border-radius:20px;
        padding:5px;
        font-size: 13px;
        font-weight: 400;
        width:60px;
        border:1px solid white;
    }

    .login_btn:hover{
 
        cursor:pointer;
        font-size:16px;
        font-weight:600;
        width:80px;
    }





    .playbar {
        position:absolute;
        margin-top:40%;
        margin-bottom:0px; ;
         color:white;
        font-size:20px;
        width:90%;
        height:20%;
        border-radius:6px;
        
        background-color:#252525;
        padding:8px;
        margin-bottom:13px;
        margin-left: 8px;
    }


    .header_lower h1{
        font-size: 27px;
    }
   

    
        .square_container{

            display:flex;
            flex-wrap: wrap;
            justify-content: safe;
            align-items:center;
            height:100vh;
            background-color:black;
            overflow-y : scroll;
            margin-right:12px;
            padding-bottom:10px;
            padding-left:12px;
                
        

    
    
    
        }
       
        
        
    

    .card_song{
        width:70vw;
        height:100vw;
        margin: 30px 41px;
        /* border:1px solid white; */
        background-color: #252525;
        position:relative;
        
        padding:0px;
        border-radius:10px;
        cursor:pointer;
        
        
    
    }

    .card_song:last-child{
        margin-bottom:450px;
    }
 
    .card_song  img:nth-child(2){
       
        margin-top:0px;
        width:70vw;
        object-fit:contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .card_song h2{
        padding:10px;
        font-size:30px;
        width:68vw;
        height:3.5vh;
        color:whitesmoke;
       
        overflow-y:hidden;
    }
    
    .card_song p {
        padding:10px;
       color:aliceblue;
        width:50vw;
        height:2.8vh;
        margin-left:5px;
        overflow-y:hidden;
        font-size:11px;
    }

    .card_song > * {
        margin-top:0px;
        
    }

    .green{
        height:50px;
        position:absolute;
        top:var(--b);
        right:10px;
        opacity: var(--a);
        transition :  0.5s ease;


    }

    .card_song:hover{
        background-color: #181818;
        transition:all 0.3s ease;
       box-shadow:2px 3px 2px 3px aliceblue;
        --a:1;
        --b:250px;
    }
  

    .grouping{
        display:flex;
        flex-direction:column;
        gap:4px;
        
       
     }
    
     .playbar_infor{
        color:whitesmoke;
        width:80vw;
        height:1.8vh;
        padding:5px;
        margin-left:0px;
        overflow-y:hidden;
        margin-right:18px;
        
    
        
     }
    
     .songbtn{
        display:flex;
        margin-top:4px;
        align-items: center;
        gap:20px;
        margin-right:33px;
        position:relative;
        z-index: 7;
        opacity:1;
       
      
       
    }

    .app{
        display:flex;
        align-items: center;
        margin-top:10px;
        gap:5px;
     
     }

    .songtime{
        
        color:whitesmoke;
        
        margin-left:0px;
        width:47vw;
        
     }
    
    
  
 .seekbar{
    width:100%;
    border:2px solid white;
    border-radius:7px;
    margin-top:20px;
    background-color:white;
    cursor:pointer;
    
   
    
   

 }

     .circle{
        height:10px;
        width:10px;
        border:1px solid white;
        border-radius: 20px;
        background-color: white;
        position:absolute;
        left:8px;
        top:133px;
        transition: left 0.5s ease;
      
     }

     .close{
        filter:invert(1);
        position:absolute;
        right:6px;
        margin-top:20px;
     }

     .div_home{
        margin-top:30px;
        
     }

     .home{
        width:30px;
        

     }

     .div_search{
        margin-top:30px;
        height:4.5vh;
        width:64vw;
        margin-left:3px;
     }

     .library_image{
        width:30px;
     }

     

.songList ul{
    margin-left:4px;
    margin-right:4px;
}
     
.song_info div:first-child{

  width:25vw;
  height:15px;
  font-size:15px;

}

.play_it{
    display:flex;
    align-items:center;
    position:absolute;
    left:190px;
    gap:5px;

    
 }

}

 